name: buildozer

on: workflow_dispatch


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: VirusTotal Scan
        id: vt
        uses: crazy-max/ghaction-virustotal@v2
        with:
          vt_api_key: a4cd4b0f39775ebe1e3662f24353e31ac61ac04a9f6c4630d1a2b1664b6d33ec
          monitor_path: /recipe/Tests/images/
          files: |
            crash-81154a65438ba5aaeca73fd502fa4850fbde60f8.tif

